html(lang="en")
    head
        include includes/setup/head

    body

        include includes/sample-include

        img(src='./assets/img/gulp-logo.png')

        .icons

            .icon
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/sprites.svg#shell")
            .icon
                svg
                    use(xlink:href="./assets/sprites/sprites-solid/sprites.svg#shell")
