html(lang="en")
    head
        include includes/setup/head
        link(rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="styles/styles.min.css")

    body
        h1 Add Page
